<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>687923220783-en3agntf0q9n2i2b8rc0udmboahphfg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687923220783-en3agntf0q9n2i2b8rc0udmboahphfg8</string>
	<key>API_KEY</key>
	<string>AIzaSyB8H-6ltX4Df8bDQg432_R83QxigloVv-4</string>
	<key>GCM_SENDER_ID</key>
	<string>687923220783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Clarity</string>
	<key>PROJECT_ID</key>
	<string>sustainable-shopping</string>
	<key>STORAGE_BUCKET</key>
	<string>sustainable-shopping.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687923220783:ios:8119f207321464a5</string>
	<key>DATABASE_URL</key>
	<string>https://sustainable-shopping.firebaseio.com</string>
</dict>
</plist>